@charset "UTF-8";
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(25px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes arrowDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  50% {
    opacity: 0.5;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

hr {
  width: 60%;
  margin: auto;
  border-color: #c9c9c9; }

body {
  font-family: "Raleway","sans-serif";
  font-weight: 400; }

h1 {
  color: white;
  font-family: 'Montserrat','sans-serif'; }

h2 {
  font-family: 'Montserrat','sans-serif'; }

h3 {
  font-size: 2.5rem; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: .9;
  height: 100%;
  width: 100%; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.head-btn {
  background-color: rgba(38, 160, 216, 0.9);
  border: none;
  padding: 8px 14px;
  font-size: 2.5rem;
  border-radius: 5px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.55);
  transition: all .4s ease;
  animation: moveInBottom 1.5s ease-out; }
  .head-btn a {
    color: #fff;
    text-decoration: none; }
  .head-btn:hover {
    background-color: #32aee7d7;
    transform: translateY(-3px); }
  .head-btn:active {
    transform: translate(0); }

.convert-btn {
  font-size: 2rem;
  padding: 8px 14px;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  font-weight: 400; }
  .convert-btn a {
    text-decoration: none;
    color: #fff; }

.cbtn-one {
  background-color: #F95738; }
  .cbtn-one:hover {
    background-color: rgba(247, 69, 34, 0.801); }

.cbtn-two {
  background-color: #4e78eb; }
  .cbtn-two:hover {
    background-color: rgba(62, 108, 233, 0.801); }

.cbtn-three {
  background-color: #7a7a7a; }
  .cbtn-three:hover {
    background-color: rgba(129, 129, 129, 0.801); }

.port-btn {
  font-size: 2rem;
  padding: 8px 14px;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  font-weight: 400;
  background-color: #F95738;
  transition: all .4s ease; }
  .port-btn a {
    text-decoration: none;
    color: #fff; }
  .port-btn:hover {
    background-color: rgba(247, 69, 34, 0.801);
    transform: translateY(-2px); }

.serv-btn {
  background-color: #f19035;
  font-weight: 600;
  align-self: center; }
  .serv-btn:hover {
    background-color: rgba(241, 144, 53, 0.801); }

.contact-btn {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 1.8rem; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1; }
  .navbar h3 {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
    color: #E5DCC5; }
    .navbar h3 a {
      text-decoration: none;
      color: #E5DCC5; }
  .navbar .links ul {
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    margin-top: 3rem; }
    .navbar .links ul li a {
      text-decoration: none;
      color: #E5DCC5;
      margin-right: 5rem;
      padding-bottom: 8px; }
    .navbar .links ul li a:hover {
      border-bottom: 2px #E5DCC5 solid; }

.form {
  margin: 2.5rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .form form {
    padding: 3rem;
    border-radius: 5px;
    font-weight: 600;
    width: 600px; }
    .form form p {
      font-size: 1.8rem;
      margin-top: 3rem; }
    .form form input {
      padding-left: 2px;
      margin-bottom: 1rem;
      font-size: 1.8rem;
      font-family: "Montserrat", "sans-serif";
      border: none;
      background-color: #fff;
      border-bottom: 1px black solid;
      width: 400px;
      height: 3rem; }
      .form form input:focus {
        outline: none; }
    .form form .subject {
      height: 3rem;
      width: 400px;
      font-size: 1.5rem; }
    .form form .message {
      margin-top: 3rem; }
    .form form textarea {
      resize: none;
      width: 400px;
      height: 250px;
      border: 1px black solid;
      font-size: 1.8rem;
      font-family: "Montserrat", "sans-serif"; }
      .form form textarea:focus {
        outline: none; }
    .form form .send-button {
      text-align: center; }

.header {
  background-size: cover;
  height: 100%; }

.header-alt {
  background-size: cover;
  height: 700px; }

.home-header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%; }

.port-header {
  background: linear-gradient(rgba(41, 29, 29, 0.61), rgba(8, 8, 6, 0.801)), url(../images/portfolio-headerimg.jpg) no-repeat center center; }

.serv-header {
  background: linear-gradient(rgba(41, 29, 29, 0.61), rgba(19, 16, 16, 0.801)), url(../images/services-landing.jpg) no-repeat center center; }

.contact-header {
  background: linear-gradient(rgba(41, 29, 29, 0.61), rgba(41, 34, 34, 0.801)), url(../images/London-contactRS.jpg) no-repeat center center;
  height: 650px;
  background-size: cover; }

.container-head {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%; }
  .container-head--alt {
    height: 700px; }
  .container-head--alt-2 {
    height: 600px; }

.header-div {
  text-align: center;
  margin: 0 auto;
  align-self: center;
  backface-visibility: hidden; }
  .header-div--mod h1 {
    line-height: 700px;
    padding-bottom: none; }
  .header-div--mod-2 h1 {
    line-height: 600px;
    padding-bottom: none; }
  .header-div h1 {
    font-size: 5.5rem;
    align-self: center;
    padding-bottom: 2rem; }
  .header-div .move-right {
    animation: moveInRight 1.2s ease-out; }
  .header-div .move-left {
    animation: moveInLeft 1.2s ease-out; }

.arrow-dn {
  position: absolute;
  bottom: 2%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  animation: arrowDown 1.5s linear infinite; }
  .arrow-dn a {
    text-decoration: none;
    color: #fff; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-1 {
    margin: 0 auto;
    width: calc(100% - 5rem); }
  .row .col-1-of-2 {
    margin: 0 auto;
    float: left;
    width: calc((100% - 5rem) / 2); }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-3 {
    margin: 0 auto;
    float: left;
    width: calc((100% - 2 * 5rem) / 3); }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-3-svc {
    margin: 0 auto;
    float: left;
    width: calc((100% - 2 * 1rem) / 3); }
    .row .col-1-of-3-svc:not(:last-child) {
      margin-right: 1rem; }

.footer {
  background-color: #000;
  height: 150px;
  text-align: center;
  overflow-y: hidden;
  justify-content: center;
  align-items: center; }
  .footer p {
    color: grey;
    font-size: 1.25rem; }
  .footer .sm-icon {
    margin: 3rem 1.5rem 3rem;
    color: grey; }

.fa-envelope:hover {
  color: rgba(216, 79, 79, 0.8); }

.fa-facebook-square:hover {
  color: #3b5998;
  cursor: pointer; }

.fa-instagram:hover {
  background: -webkit-linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer; }

.contact {
  text-align: center; }
  .contact h2 {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Montserrat", "sans-serif";
    margin: 7rem auto 3rem auto; }
  .contact h4 {
    font-size: 2.5rem;
    color: dimgray; }

.about {
  background-color: #000;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }

.about-us {
  text-align: center;
  margin: 0 3rem; }
  .about-us h2 {
    color: #4185ec;
    font-size: 4rem;
    padding-bottom: 3rem; }
  .about-us p {
    font-size: 2rem;
    color: #a1a1a1;
    font-weight: 600;
    max-width: 600px; }

.features {
  background: linear-gradient(to left bottom, #F08A92, #FFFDAF);
  padding: 5rem 0; }

.container-feat {
  padding: 5rem;
  font-weight: 600; }
  .container-feat h2 {
    font-size: 3rem;
    font-weight: 600;
    color: #0B5563;
    margin-bottom: 24px; }
  .container-feat .feat-text {
    max-width: 500px;
    font-size: 1.8rem;
    color: #252422; }
  .container-feat .feat-icon {
    align-self: center;
    text-align: center;
    margin: auto;
    position: relative;
    height: 100px; }
  .container-feat .inner-icon {
    margin: auto;
    background-color: grey;
    width: 90px;
    height: 90px;
    align-self: center;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
    transition: all .4s ease;
    backface-visibility: hidden; }
    .container-feat .inner-icon:hover {
      -moz-transform: scale(1.08);
      -webkit-transform: scale(1.08);
      transform: scale(1.08); }
  .container-feat .i-left {
    top: 40%;
    left: -25%; }
  .container-feat .i-right {
    top: -15%;
    right: -30%; }
  .container-feat .fas {
    position: absolute;
    width: 200px; }

.convert {
  height: 650px;
  text-align: center;
  margin: 0 auto;
  font-family: "Montserrat", "sans-serif";
  background-color: rgba(206, 209, 180, 0.719); }
  .convert h2 {
    font-size: 3.5rem;
    text-align: center;
    padding-top: 6rem; }
  .convert .con-row {
    padding: 3rem; }
  .convert .conv-header h4 {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    font-weight: 400; }
  .convert .top-link {
    margin-top: 12rem; }
    .convert .top-link a {
      text-decoration: none;
      font-size: 1.8rem;
      color: #000; }
      .convert .top-link a:hover {
        border-bottom: 1px black solid; }

.port-description {
  text-align: center;
  padding: 15rem;
  background-color: #000; }
  .port-description h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #4185ec; }
  .port-description p {
    font-size: 1.8rem;
    color: #aaaaaa;
    letter-spacing: 2px; }

.port {
  border-radius: 5px;
  margin: 0 auto;
  text-align: center; }

.port-text {
  margin-top: 4rem;
  font-size: 1.8rem; }

.port img {
  width: 65%;
  border-radius: 5px;
  box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5); }

.portfolio .container-port {
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.portfolio h2 {
  font-size: 3rem; }

.portfolio p {
  margin: 3rem 0; }

.portfolio .port-one {
  background-color: #b7c46e; }

.portfolio .port-two {
  background-color: #19647E; }
  .portfolio .port-two h2 {
    color: #fff; }
  .portfolio .port-two p {
    color: #fff; }

.section-services {
  margin: 7rem auto; }

.project {
  margin: 0 auto;
  font-size: 1.8rem;
  display: block;
  width: 650px;
  border: 1px #b6b6b6 solid;
  border-radius: 3px;
  padding-bottom: 4rem; }
  .project__header {
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    border: none;
    background-color: #6ee064; }
  .project__serv-list {
    margin-top: 4rem;
    margin-left: 12rem; }
    .project__serv-list p {
      font-weight: 600; }

.serv-convert {
  width: 60%;
  margin: 5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem; }
  .serv-convert h5 {
    font-size: 3rem;
    font-weight: 600; }
  .serv-convert a {
    text-decoration: none;
    color: #fff; }

.serv-cv-1 {
  background-color: rgba(14, 68, 218, 0.774); }
  .serv-cv-1 h5 {
    color: #000; }

.serv-cv-2 {
  background-color: #555555; }
  .serv-cv-2 h5 {
    color: #eeeeee; }

.serv-plans {
  text-align: center;
  margin: 8rem auto; }
  .serv-plans h2 {
    font-size: 4rem;
    font-weight: 600; }
  .serv-plans h3 {
    margin-top: 1.5rem;
    color: #969696;
    font-weight: 600; }

.services {
  margin-top: 7rem;
  padding-bottom: 5rem;
  font-size: 1.7rem;
  width: 100%; }
  .services .svc-box {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-top: 0;
    height: 100%;
    max-width: 325px; }
    .services .svc-box h2 {
      font-weight: 600;
      background-color: #4e4e4e;
      color: #fff;
      padding: 1rem; }
    .services .svc-box .p-month {
      margin: 3rem 0; }
    .services .svc-box .price {
      font-family: "Montserrat", "sans-serif";
      font-size: 3rem;
      font-weight: 600; }
  .services .svc-mid h2 {
    background-color: #0e44da; }
  .services ul {
    padding: 2rem 3rem;
    list-style-type: none;
    text-align: initial; }
    .services ul li {
      margin: 1.5rem 0; }
    .services ul li::before {
      color: #078107;
      content: '✔';
      margin: 0 7px; }
