// COLORS

$primary-color:#E5DCC5;
$h2-color: #0B5563;
$color-black:#000;
$hd-btn-color:rgba(38, 160, 216, 0.9);
$color-white:#fff;

// FONT
$font-size: 1.8rem;
$font-ms: 'Montserrat', 'sans-serif';
$font-rl: 'Raleway', 'sans-serif';

// GRID
$grid-width: 114rem;
$gutter-vertical:5rem;
$gutter-horizontal: 5rem;
$gutter-horizontal-svc:1rem;