.footer{
    background-color: $color-black;
    height:150px;
    text-align:center;
    overflow-y:hidden;

    & p{
        color:rgb(223, 223, 223);
        font-size: 1.25rem;
        line-height:150px;
    }
}