.footer{
    background-color: $color-black;
    height:130px;
    text-align:center;
    overflow-y:hidden;
    // display:flex;
    // flex-direction:column;
    justify-content: center;
    align-items: center;

    hr{
        border-color:grey;
    }

    &__pages{
        margin-bottom: 1.5rem;
        

        a{
            text-decoration: none;
            padding:0 1rem;
        }
    }

    &__links{
        color:grey;
        font-size:1.25rem;
    }

    & p{
        color:grey;
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    & .sm-icon{
        margin:2rem 1.5rem 2rem;
        color:grey;
    }
}

.fa-envelope:hover{
    color:rgba(216, 79, 79, 0.8);
}

.fa-facebook-square:hover{
    color:rgb(59,89,152);
    cursor: pointer;
}

.fa-instagram:hover{
    background:-webkit-linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}