.form{
    margin:2.5rem auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;

    & form{
        padding:3rem;
        border-radius: 5px;
        font-weight: 600;
        width:600px;

        & p{
            font-size:$font-size;
            margin-top:3rem;
        }

        & input {
            padding-left:2px;
            margin-bottom: 1rem;
            font-size: $font-size;
            font-family: $font-ms;
            border:none;
            background-color: #fff;
            border-bottom:1px black solid;
            width:400px;
            height:3rem;

            &:focus{
                outline:none;
            }
        }

        & .subject{
            height:3rem;
            width:400px;
            font-size: 1.5rem;
        }

        & .message{
            margin-top:3rem;
        }

        & textarea {
            resize: none;
            width:400px;
            height:250px;
            border: 1px black solid;
            font-size:$font-size;
            font-family: $font-ms;
 
            &:focus{
                outline:none;
            }
        }

        & .send-button{
            text-align: center;
        }
    }
}