.row {
    max-width:$grid-width;
    margin:0 auto;
    
    &:not(:last-child){
        margin-bottom:$gutter-vertical;
    }

@include clearfix;

    & .col-1-of-1{
        margin: 0 auto;
        width: calc(100% - #{$gutter-horizontal});
    }

    & .col-1-of-2 {
        margin:0 auto;
        float:left;
        width:calc((100% - #{$gutter-horizontal}) / 2);
        
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }

    & .col-1-of-3 {
        margin: 0 auto;
        float:left;
        width:calc((100% - 2 * #{$gutter-horizontal}) / 3);

        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }
    }
}
