.header{
    background-size: cover;
    height:100%;
}

.header-alt{
    background-size: cover;
    height:700px;
}

.home-header{
    // background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(41, 34, 34, 0.801))
    // ,url(../images/home-office.jpg) no-repeat center center;
    position:relative;
    overflow:hidden;
    height:100vh;
    width:100%;
}

.port-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(8, 8, 6, 0.801))
    ,url(../images/Portfolio-Headerimg.jpg) no-repeat center center;
}

.serv-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(19, 16, 16, 0.801))
    ,url(../images/Services-Landing.jpg) no-repeat center center;
}

.contact-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(41, 34, 34, 0.801))
    ,url(../images/London-contactRS.jpg) no-repeat center center;
    height:650px;
    background-size:cover;
}

.consult-header{
    background: linear-gradient(rgba(31, 23, 23, 0.61),rgba(32, 27, 27, 0.801))
    ,url(../images/Consult-head.jpg) no-repeat center center;
    height:650px;
    background-size:cover;
}

.container-head{
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:100%;
    width:100%;
    backface-visibility: hidden;

    &--alt{
        height:700px;
    }

    &--alt-2{
        height:600px;
    }
}

.header-div{
    text-align: center;
    margin:0 auto;
    align-self:center;
    backface-visibility: hidden;

    &--mod{

        & h1{
            line-height: 700px;
            padding-bottom: none;
        }
    }

    &--mod-2{
        
        & h1{
            line-height: 600px;
            padding-bottom:none;
        }
    }

    & h1{
        font-size:5.5rem;
        align-self:center;
        padding-bottom:2rem;
    }

    & .move-right{
        animation: moveInRight 1.2s ease-out;
    }

    & .move-left{
        animation: moveInLeft 1.2s ease-out;
    }
}