.header{
    background-size: cover;
    height:850px;
}

.home-header{
    // background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(41, 34, 34, 0.801))
    // ,url(../images/home-office.jpg) no-repeat center center;
    position:relative;
    overflow:hidden;
    height:100vh;
    width:100%;
}

.port-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(44, 44, 12, 0.801))
    ,url(../images/lightpaint.jpg) no-repeat center center;
}

.serv-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(19, 16, 16, 0.801))
    ,url(../images/services-landing.jpg) no-repeat center center;
}

.contact-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(41, 34, 34, 0.801))
    ,url(../images/London-contact.jpg) no-repeat center center;
    height:650px;
}

.container-head{
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:100%;
    width:100%;
}

.header-div{
    text-align: center;
    margin: 0 auto 5% auto;
    align-self:center;
    backface-visibility: hidden;

    & h1{
        font-size:5.5rem;
        align-self:center;
        padding-bottom:2rem;
    }

    & .move-right{
        animation: moveInRight 1.2s ease-out;
    }

    & .move-left{
        animation: moveInLeft 1.2s ease-out;
    }
}

.arrow-dn{
    position:absolute;
    bottom:2%;
    left:50%;
    color:$color-white;
    transform: translate(-50%,-50%);
    animation: arrowDown 1.5s linear infinite;

    & a{
        text-decoration: none;
        color:$color-white;
    }
}