.header{
    background-size: cover;
    height:800px;
}

.home-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(41, 34, 34, 0.801))
    ,url(../images/home-office.jpg) no-repeat center center;
}

.port-header{
    background: linear-gradient(rgba(41, 29, 29, 0.61),rgba(44, 44, 12, 0.801))
    ,url(../images/lightpaint.jpg) no-repeat center center;
}

.container-head{
    display:flex;
    align-items:center;
    justify-content: center;
    position:relative;
    height:90%;
}

.header-div{
    text-align: center;
    margin: 0 auto 5% auto;
    align-self:center;

    & h1{
        font-size:5.5rem;
        align-self:center;
        padding-bottom:2rem;
    }

    & .move-right{
        animation: moveInRight 1.5s ease-out;
    }

    & .move-left{
        animation: moveInLeft 1.5s ease-out;
    }
}