.help{
    margin-top: 10rem;
    background-color: grey;
    padding:2rem;
    width:100%;

    & h3{
        font-size:2.5rem;
        font-family: "Montserrat", "sans-serif";
        padding-bottom: 2rem;
        color:$color-white;
    }

    & p{
        font-size:1.6rem;
        font-weight: 600;
    }

    & a{
        font-size:1.6rem;
        text-decoration: none;
    }
}