.navbar{

    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: space-between;
    width:100%;
    z-index:1;

    & h3{
        margin-left:2rem;
        margin-top:2rem;
        font-size:3rem;
        color:$primary-color;
        
        & a{
            text-decoration:none;
            color:$primary-color;
        }}

    & .brand{
        margin-left: 4rem;
        margin-top: 2rem;
    }

    & .links ul{
        list-style:none;
        font-size:$font-size;
        display:flex;
        margin-top:3rem;

        & li a{
            text-decoration:none;
            color:$primary-color;
            margin-right:5rem;
            padding-bottom:8px;
        }

        & li a:hover{
            border-bottom: 2px $primary-color solid;
        }

        & .active-link{
            border-bottom: 2px $primary-color solid;
        }
    }
}

