<<<<<<< HEAD
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity:0;
        transform:translateY(25px);
    }

    100%{
        opacity: 1;
        transform:translate(0);
    }
=======
@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(30px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom{
    0%{
        opacity:0;
        transform:translateY(25px);
    }

    100%{
        opacity: 1;
        transform:translate(0);
    }
>>>>>>> 3c4b07a0fd70053d5b0c6814a77accafd7bda67e
}