.contact{
    text-align: center;

    & h2{
        font-size: 3rem;
        font-weight:600;
        font-family:$font-ms;
        margin:7rem auto 3rem auto;
    }

    & h4{
        font-size:2.5rem;
        color:rgb(105, 105, 105);
    }
}

.form{
    margin:2.5rem auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;

    & form{
        padding:3rem;
        border-radius: 5px;
        font-weight: 600;
        width:600px;

        & p{
            font-size:$font-size;
            margin-top:3rem;
        }

        & input {
            padding-left:2px;
            margin-bottom: 1rem;
            font-size: $font-size;
            font-family: $font-ms;
            border:none;
            background-color: #fff;
            border-bottom:1px black solid;
            width:400px;
            height:3rem;

            &:focus{
                outline:none;
            }
        }

        & textarea {
            resize: none;
            width:400px;
            height:250px;
            border: 1px black solid;
            font-size:$font-size;
            font-family: $font-ms;
 
            &:focus{
                outline:none;
            }
        }

        & .send-button{
            text-align: center;
        }
    }

}