<<<<<<< HEAD
.contact-details{
    margin:auto 15%;
}

.contact{
    margin:0 4rem;

    & h2{
        font-size: 3rem;
        font-weight:600;
        font-family:$font-ms;
        margin:7rem auto 3rem 1.5rem;
    }

    & h4{
        margin-left: 1.5rem;
        font-size:2.5rem;
        color:rgb(105, 105, 105);
    }
}

=======
.contact-details{
    margin:auto 15%;
}

.contact{
    margin:0 4rem;

    & h2{
        font-size: 3rem;
        font-weight:600;
        font-family:$font-ms;
        margin:7rem auto 3rem 1.5rem;
    }

    & h4{
        margin-left: 1.5rem;
        font-size:2.5rem;
        color:rgb(105, 105, 105);
    }
}

>>>>>>> ec536858eb27b852b659d94f2989d5a3810f0bcd
