.port-description{
    text-align:center;
    padding:15rem;
    background-color: $color-black;

    & h2{
        font-size:3rem;
        margin-bottom: 2rem;
        color: rgb(65, 133, 236);
    }

    & p{
        font-size:$font-size;
        color:rgb(170, 170, 170);
        letter-spacing:2px;
    }
}

.port{
        border-radius: 5px;
        margin:0 auto;
        text-align: center;
}

.port-text{
    margin-top:4rem;
    font-size:$font-size;
}

.port img{
    width:65%;
    border-radius: 5px;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio{

    & .container-port{
        padding:8rem;
        display: flex;
        align-items:center;
        justify-content: center;
    }

    & h2 {
        font-size: 3rem;
    }

    & p {
        margin: 3rem 0;
    }

    & .port-one{
        background-color: rgb(183, 196, 110);
    }

    & .port-two{
        background-color: #19647E;

    & h2{
        color:$color-white;
    }

    & p{
        color:$color-white;
    }
}}

.port-convert{
    height:300px;
    font-family: "Montserrat", "sans-serif";
    padding:1%;
    text-align: center;
    background: linear-gradient(to right, rgba(141, 211, 252, 0.8), rgba(43, 119, 115, 0.9));
    h6{
        font-size:3rem;
        padding:2.5rem 0;
        font-weight: 600;
    }

    & .second-header{
        font-weight: 400;
        font-size:2.5rem;
    }

    & .btn{
        margin-top:2.5rem;
        font-weight: 600;
    }
}

