.port-description{
    text-align:center;
    padding:15rem;
    background-color: $color-black;

    & h2{
        font-size:3rem;
        margin-bottom: 2rem;
        color: $h2-color;
    }

    & p{
        font-size:$font-size;
        color:rgb(99, 99, 99);
        letter-spacing:1px;
    }
}

.port{
        border-radius: 5px;
        margin:0 auto;
        text-align: center;
}

.port-text{
    margin-top:4rem;
    font-size:$font-size;
}

.port img{
    width:65%;
    border-radius: 5px;
    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.5);
    // transition: all .5s ease;

    // &:hover{
    //         transform:translateY(-3px) scale(1.03);
    // }
}



.portfolio{

    & .container-port{
        padding:8rem;
        display: flex;
        align-items:center;
        justify-content: center;
    }

    & h2 {
        font-size: 3rem;
    }

    & p {
        margin: 3rem 0;
    }

    & .port-one{
        background-color: rgb(183, 196, 110);
    }

    & .port-two{
        background-color: #19647E;

    & h2{
        color:$color-white;
    }

    & p{
        color:$color-white;
    }
}}

