.section-services{
    margin: 7rem auto;
}

.project{
    margin:0 auto;
    font-size:$font-size;
    display:block;
    width:650px;
    border:1px rgb(182, 182, 182) solid;
    border-radius: 3px;
    padding-bottom: 4rem;


    &__header{
        justify-content: center;
        font-size:3.5rem;
        font-weight: 600;
        text-align: center;
        border:none;
        background-color: rgb(110, 224, 100);
    }

    &__serv-list{
        margin-top: 4rem;
        margin-left: 12rem;

        & p{
            font-weight: 600;
        }
    }
}

.serv-convert{
    width:65%;
    margin:5rem auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:2.5rem;

    & h5{
        font-size: 3rem;
        font-weight: 600;
    }

    & a{
        text-decoration: none;
        color:$color-white;
    }
}

.serv-cv-1{
    background-color:rgba(14, 68, 218, 0.774);

    & h5{
        color:$color-black;
    }
}

.serv-cv-2{
    background-color: rgb(85, 85, 85);

    & h5{
        color:rgb(238, 238, 238);
    }
}

.serv-plans{
    text-align: center;
    margin:8rem auto;

    & h2{
        font-size:4rem;
        font-weight: 600;
    }

    & h3{
        margin-top:1.5rem;
        color:rgb(150, 150, 150);
        font-weight: 600;
    }
}

.services{
    margin-top:7rem;
    padding-bottom:5rem;
    font-size:1.7rem;
    width:100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;

    & .svc-box{
        box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.15);
        text-align: center;
        margin:.5rem;
        height:100%;
        max-width:275px;

        & .b-value{
            position: absolute;
            top:-60px;
            left:38px;
            font-weight: 400;
            width:70%;
            background-color: rgb(44, 146, 241);
            color:$color-white;
        }

        & h2{
            font-weight:400;
            background-color: rgb(78, 78, 78);
            color:$color-white;
            width:100%;
            padding:1rem;
            position:absolute;
            top:-30px;
            left:0;

        }

        & .p-month{
            margin: 3rem 0;
        }

        & .price{
            font-family:$font-ms;
            font-size:3rem;
            font-weight: 600;
        }

        & .time {
            font-family: 'Montserrat', 'sans-serif';
        }
    }

    & .svc-mid h2{
        background-color: rgb(14, 68, 218);
    }

    & ul{
        padding: 1.5rem .5rem;
        list-style-type:none;
        text-align: initial;

    & li{
        margin:1.5rem 0;
    }


        & li::before{
            color:rgb(7, 129, 7);
            content:'✔';
            margin: 0 7px;
        }
    }
}